{% extends 'layout.html' %}

{% block header %}
<link rel="stylesheet" href="/css/bootstrap-custom.css">
{% endblock %}

{% block slider %}
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active bg01">
        <div class="container">
          <div class="carousel-caption">
            <h1>{{ __("Q&amp;A sucks.") }}</h1>
            <p class="lead">{{ __("Because most questions are boring, while answers are full of incorrect, irrelevant and out-dated information. We save you from those tasteless Q&amp;As, automagically.") }}</p>
            <a class="btn btn-large btn-primary" href="#">{{ __("Sign me up") }}</a>
          </div>
        </div>
      </div>
      <div class="item bg02">
        <div class="container">
          <div class="carousel-caption">
            <h1>{{ __("Q&amp;A what matters.") }}</h1>
            <p class="lead">{{ __("And we mean it, all Q&amp;A lives for a 24-hours period by default: once their lifespan limit are reached, our system evaporates them, no backup or recovery.") }}</p>
            <a class="btn btn-large btn-primary" href="#">{{ __("Feeling brave") }}</a>
          </div>
        </div>
      </div>
      <div class="item bg03">
        <div class="container">
          <div class="carousel-caption">
            <h1>{{ __("Q&amp;A forever.") }}</h1>
            <p class="lead">{{ __("Here comes the game: every Q&amp;A&rsquo;s lifespan depends on its scores - higher scores means longer lifespan. Your goal is to make your Q&amp;As worthy of survival.") }}</p>
            <a class="btn btn-large btn-primary" href="#">{{ __("Challenge accepted") }}</a>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div><!-- /.carousel -->
{% endblock %}

{% block content %}
  <div class="container marketing">

    <hr class="featurette-divider">

    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

  </div><!-- /.container -->
{% endblock %}
