<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ __("QNA.im - The world&rsquo;s finest Q&amp;A service") }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% block description %}{{ __("QNA.im is the Q&amp;A service you really need, I mean, who doesn&rsquo;t have a couple of questions and answers on their mind?") }}{% endblock %}" />
  <meta name="author" content="David Frank and The INTERNET" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">
  {% block header %}
  {% endblock %}
</head>
<body>
  {% block nav %}
  <div class="navbar-wrapper">
    <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
    <div class="container">

      <div class="navbar">
        <div class="navbar-inner">
          <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">{{ __("QNA.im (Project Asked)") }}</a>
          <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">{{ __("Features") }}</a></li>
              <li><a href="/login">{{ __("Login") }}</a></li>
              <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ __("Great Q&amp;A") }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">{{ __("Order by") }}</li>
                  <li><a href="#">{{ __("Usefulness") }}</a></li>
                  <li><a href="#">{{ __("Creativity") }}</a></li>
                  <li><a href="#">{{ __("Popularity") }}</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ __("Even Better Q&amp;A") }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">{{ __("Order by") }}</li>
                  <li><a href="#">{{ __("Irrelevance") }}</a></li>
                  <li><a href="#">{{ __("Obscurity") }}</a></li>
                  <li><a href="#">{{ __("Spam confidence level") }}</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!-- /.navbar-inner -->
      </div><!-- /.navbar -->

    </div> <!-- /.container -->
  </div><!-- /.navbar-wrapper -->
  {% endblock %}

  {% block slider %}
  {% endblock %}

  {% block content %}
  {% endblock %}
  
  {% block footer %}
  {% endblock %}

  {% block javascript %}
  <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  {% endblock %}
</body>
</html>